@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
.responsive-grid {
  @apply grid gap-5 
          grid-cols-1 
          sm:grid-cols-1 
          md:grid-cols-2 
          lg:grid-cols-3 
          xl:grid-cols-4 
          2xl:grid-cols-5;
}
*{
  font-family:Outfit;
}

@theme {
  --color-primary: #5f6FFF;
}


::-webkit-scrollbar{
  @apply hidden
}
.active hr{
  @apply block 
}
/* .grid-custom {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Fixed 4 columns
  gap: 1rem;
}

 @media (max-width: 1024px) {
  .grid-custom {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  } 
 } 
 .grid-cols-auto(auto-fill, minmax(200px, 1fr)); */